body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5;
}

h3 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

.top {
  /* background-color: #F0D9FF; */
  background-color: skyblue;
  padding-top: 100px;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom_cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
