body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5;
  text-decoration: bold;
}

h3 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  
  text-decoration: underline;
} 

.top {
  /* background-color: #F0D9FF; */
  background-color: skyblue;
  padding-top: 100px;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom_cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.skills {
  background-image: url("../images/Sunset\ Background.png");
  height: 200px;
  padding-top:350px;
  padding-bottom:450px;
  
}
.skills h3{
  color: rgb(137, 17, 197);
}
.skill-row {
  font-size: larger;
  position: relative;
  bottom: 200px;
}
.bottom-section {
  padding: 50px;
  background-image: linear-gradient(90deg, #020024 0%, #1919a7 35%, #00d4ff 100%);
  color: #fff;
}
.profile{
  padding: 50px;
}
.bottom-section h3{
  color: rgb(23, 214, 83);
}
